*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 60px;
  margin: 500px 0 0 0;
  text-align: center;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -20px 40px 0 530px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot,
.shadow {
  width: 15px;
  height: 15px;
  background-color: cyan;
  border-radius: 25px;
  margin: 0 4px;
}

.shadow {
  opacity: 0.3;
}
