*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(4, 4, 4);
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 64px;
  margin: 500px 0 0 0;
  text-align: center;
}

.shiny-effect {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, white 0%, cyan 50%, white 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: 200%;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NAVBAR */
.nav-border {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 1px;
  border-radius: 43px;
  overflow: hidden;
  opacity: 0.8;
  background: black;
  transition: box-shadow 0.6s ease, opacity 0.6s ease;
}

.nav-border:hover {
  opacity: 1;
  box-shadow: 0 0 15px 5px rgba(114, 250, 250, 0.7);
}

.nav-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    45deg,
    cyan,
    rgb(255, 0, 255),
    cyan,
    rgb(255, 188, 255)
  );
  z-index: -1;
  background-size: 200% 200%;
  animation: neonBorder 4s linear infinite;
  border-radius: 43px;
}

.nav-style {
  background: black;
  width: 100%;
  margin: auto;
  border-radius: 43px;
}

.menu-icon {
  display: none;
  font-size: 36px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}
nav ul li:hover {
  opacity: 1;
  transition: color 0.6s ease;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  display: inline-block;
  transition: color 0.6s ease;
}

nav ul li a:hover {
  color: #72fafa;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-reveal {
  padding: 8rem;
  font-size: 4rem;
  color: white;
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
    margin: 200px 0 0 0;
  }
  
  .text-reveal {
    padding: 64px; /* 4rem */
    font-size: 48px; /* 3rem */
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    margin: 100px 0 0 0;
  }
  
  .text-reveal {
    padding: 32px; /* 2rem */
    font-size: 32px; /* 2rem */
  }
  
  .nav-border {
    top: 10px;
    right: 10px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background: black;
    border-radius: 10px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .menu-icon.active + nav ul {
    display: flex;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin: 50px 0 0 0;
  }

  .text-reveal {
    padding: 16px; 
    font-size: 24px; 
  }
}